<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/js/jquery.nicescroll.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/chat.css">
</head>
<body>
<div class="content container-fluid bootstrap snippets">
    <div class="row row-broken">
        <div class="col-sm-3 col-xs-12">
            <div class="col-inside-lg decor-default chat" style="overflow: hidden; outline: none;" tabindex="5000">
                <div class="chat-users">
                    <h6>Online</h6>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40.png" alt="User name">
                            <div class="status off"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-2.png" alt="User name">
                            <div class="status online"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-3.png" alt="User name">
                            <div class="status busy"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-4.png" alt="User name">
                            <div class="status offline"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-5.png" alt="User name">
                            <div class="status off"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-6.png" alt="User name">
                            <div class="status online"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-7.png" alt="User name">
                            <div class="status busy"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-3.png" alt="User name">
                            <div class="status offline"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-5.png" alt="User name">
                            <div class="status off"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-7.png" alt="User name">
                            <div class="status online"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-2.png" alt="User name">
                            <div class="status busy"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-3.png" alt="User name">
                            <div class="status offline"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-4.png" alt="User name">
                            <div class="status off"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-5.png" alt="User name">
                            <div class="status off"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-6.png" alt="User name">
                            <div class="status online"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-7.png" alt="User name">
                            <div class="status busy"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-3.png" alt="User name">
                            <div class="status offline"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-5.png" alt="User name">
                            <div class="status off"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-7.png" alt="User name">
                            <div class="status online"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-5.png" alt="User name">
                            <div class="status busy"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-2.png" alt="User name">
                            <div class="status offline"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-3.png" alt="User name">
                            <div class="status off"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-4.png" alt="User name">
                            <div class="status online"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-5.png" alt="User name">
                            <div class="status busy"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-6.png" alt="User name">
                            <div class="status offline"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-3.png" alt="User name">
                            <div class="status off"></div>
                        </div>
                        <div class="name">User name</div>
                        <div class="mood">User mood</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-xs-12 chat" style="overflow: hidden; outline: none;" tabindex="5001">
            <div class="col-inside-lg decor-default">
                <div class="chat-body">
                    <h6>Mini Chat</h6>
                    <div class="answer left">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-2.png" alt="User name">
                            <div class="status offline"></div>
                        </div>
                        <div class="name">Alexander Herthic</div>
                        <div class="text">
                            Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                        </div>
                        <div class="time">5 min ago</div>
                    </div>
                    <div class="answer right">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40.png" alt="User name">
                            <div class="status offline"></div>
                        </div>
                        <div class="name">Alexander Herthic</div>
                        <div class="text">
                            Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                        </div>
                        <div class="time">5 min ago</div>
                    </div>
                    <div class="answer left">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-2.png" alt="User name">
                            <div class="status online"></div>
                        </div>
                        <div class="name">Alexander Herthic</div>
                        <div class="text">
                            ...
                        </div>
                        <div class="time">5 min ago</div>
                    </div>
                    <div class="answer right">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40.png" alt="User name">
                            <div class="status busy"></div>
                        </div>
                        <div class="name">Alexander Herthic</div>
                        <div class="text">
                            It is a long established fact that a reader will be. Thanks Mate!
                        </div>
                        <div class="time">5 min ago</div>
                    </div>
                    <div class="answer right">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40.png" alt="User name">
                            <div class="status off"></div>
                        </div>
                        <div class="name">Alexander Herthic</div>
                        <div class="text">
                            It is a long established fact that a reader will be. Thanks Mate!
                        </div>
                        <div class="time">5 min ago</div>
                    </div>
                    <div class="answer left">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-2.png" alt="User name">
                            <div class="status offline"></div>
                        </div>
                        <div class="name">Alexander Herthic</div>
                        <div class="text">
                            Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                        </div>
                        <div class="time">5 min ago</div>
                    </div>
                    <div class="answer right">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40.png" alt="User name">
                            <div class="status offline"></div>
                        </div>
                        <div class="name">Alexander Herthic</div>
                        <div class="text">
                            Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                        </div>
                        <div class="time">5 min ago</div>
                    </div>
                    <div class="answer left">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40-2.png" alt="User name">
                            <div class="status online"></div>
                        </div>
                        <div class="name">Alexander Herthic</div>
                        <div class="text">
                            ...
                        </div>
                        <div class="time">5 min ago</div>
                    </div>
                    <div class="answer right">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40.png" alt="User name">
                            <div class="status busy"></div>
                        </div>
                        <div class="name">Alexander Herthic</div>
                        <div class="text">
                            It is a long established fact that a reader will be. Thanks Mate!
                        </div>
                        <div class="time">5 min ago</div>
                    </div>
                    <div class="answer right">
                        <div class="avatar">
                            <img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/images/chat/40.png" alt="User name">
                            <div class="status off"></div>
                        </div>
                        <div class="name">Alexander Herthic</div>
                        <div class="text">
                            It is a long established fact that a reader will be. Thanks Mate!
                        </div>
                        <div class="time">5 min ago</div>
                    </div>
                    <div class="answer-add">
                        <input placeholder="Write a message">
                        <span class="answer-btn answer-btn-1"></span>
                        <span class="answer-btn answer-btn-2"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>